<h3>Import population file(s)</h3>
<p-fileUpload
    #uploader
    name="file[]"
    [multiple]="true"
    accept="application/json, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.oasis.opendocument.spreadsheet"
    maxFileSize="10000000"
    [customUpload]="true"
    (uploadHandler)="handleUpload($event)"
>
    <ng-template pTemplate="content">
        <div *ngIf="uploader.uploadedFiles.length">
            <h5>Imported files</h5>
            <ul>
                <li *ngFor="let file of uploader.uploadedFiles">
                    {{ file.name }} - {{ file.size }} B
                </li>
            </ul>
        </div>
    </ng-template>
</p-fileUpload>
