<div *ngFor="let object of data; let i = index" class="item">
    <div
        *ngIf="canUpdate()"
        class="pi pi-fw pi-minus"
        (click)="removeItem(i)"
        pTooltip="Remove"
        tooltipPosition="left"
    ></div>

    <div
        *ngIf="canDelete()"
        class="pi pi-fw pi-trash"
        (click)="deleteItem(i)"
        pTooltip="Delete"
        tooltipPosition="left"
    ></div>

    <span>
        {{ object._label_ }}
    </span>

    <app-ifcs-dropdown size="small" [resource]="object"></app-ifcs-dropdown>
</div>

<p-dropdown
    *ngIf="dropdownMenuObjects"
    [options]="filteredDropdownMenuObjects()"
    [(ngModel)]="newValue"
    optionLabel="_label_"
    [filter]="true"
    filterBy="_label_"
    [showClear]="false"
    [placeholder]="placeholder"
    (onChange)="addValue()"
    [required]="isNewItemInputRequired()"
    [disabled]="isNewItemInputDisabled()"
>
</p-dropdown>
