:host {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item {
  display: flex;
  gap: 5px;
}

.pi-minus,
.pi-trash {
  color: red;
  padding-bottom: 9px;
  cursor: pointer;
}

:host ::ng-deep .shrinkbox button {
  flex-grow: 0;
  flex-shrink: 0;
}
