# developer files
.devcontainer/
.github/
.vscode
tests/
.bowerrc
.jshintrc
bower.json
phpcs.xml

# content of .gitignore
.git
lib/
app/lib/

# Node
**/node_modules

# Miscellaneous
**/.angular/cache
**/.sass-cache/
