<a ng-if="item.ifc" ng-href="#/{{item.ifc}}"><!-- link to specific interface -->
    <span class="glyphicon glyphicon-list-alt"></span>
    <span> {{item.label}}</span>
</a>
<a ng-if="item.url" ng-href="{{item.url}}" target="_blank"><!-- link to (external) url -->
    <span class="glyphicon glyphicon-link"></span>
    <span> {{item.label}}</span>
</a>
<a ng-if="item.hasChildren()" href="" class="dropdown-toggle" data-toggle="dropdown">
    <span class="glyphicon glyphicon-align-justify"></span>
    <span> {{item.label}}</span>
</a>
<ul ng-if="item.hasChildren()" class="dropdown-menu" role="menu">
    <li ng-repeat="subitem in item.children | orderBy : 'seqNr'"
        ng-class="{'dropdown-submenu' : subitem.hasChildren(), 'dropdown-header' : !subitem.ifc && !subitem.url && !subitem.hasChildren()}"
        my-nav-item data="subitem"></li>
</ul>
<span ng-if="!item.ifc && !item.url && !item.hasChildren()">{{item.label}}</span>