<div *ngIf="canRead() && !canUpdate()">
    <ng-container *ngTemplateOutlet="cRud"> </ng-container>
</div>

<div *ngIf="canRead() && canUpdate() && isUni">
    <ng-container *ngTemplateOutlet="cRUdUni"> </ng-container>
</div>

<div *ngIf="canRead() && canUpdate() && !isUni">
    <ng-container *ngTemplateOutlet="cRUd"> </ng-container>
</div>

<div *ngIf="!canRead()">
    <ng-container *ngTemplateOutlet="crud"> </ng-container>
</div>

<ng-template #cRUdUni>
    <input
        type="text"
        [(ngModel)]="resource[propertyName]"
        (input)="dirty = true"
        (blur)="updateValue()"
        [required]="isTot"
    />
</ng-template>

<ng-template #cRUd>
    <div *ngFor="let name of data; let i = index">
        <div
            class="pi pi-fw pi-minus"
            (click)="removeItem(i)"
            pTooltip="Remove"
            tooltipPosition="left"
            style="color: red; padding-bottom: 9px; cursor: pointer"
        ></div>

        <span style="padding-left: 9px">
            {{ name }}
        </span>
    </div>
    <div class="p-inputgroup">
        <input
            type="text"
            class="min-w-10rem w-full"
            pInputText
            [(ngModel)]="newValue"
            [placeholder]="'Add value'"
            (keyup.enter)="addValue()"
            [required]="isNewItemInputRequired()"
            [disabled]="isNewItemInputDisabled()"
        />
        <button
            type="button"
            pButton
            pRipple
            icon="pi pi-plus"
            styleClass="p-button-success"
            (click)="addValue()"
            [disabled]="isNewItemInputDisabled()"
        ></button>
    </div>
</ng-template>

<ng-template #cRud>
    <a *ngFor="let row of data" [href]="row" class="wordwrap">{{ row }}</a>
</ng-template>

<ng-template #crud>
    <span><i>Alphanumeric is not readable</i></span>
</ng-template>
