<div *ngIf="canRead() && !canUpdate()">
    <ng-container *ngTemplateOutlet="cRud"> </ng-container>
</div>

<div *ngIf="canRead() && canUpdate() && isUni">
    <ng-container *ngTemplateOutlet="cRUdUni"> </ng-container>
</div>

<div *ngIf="canRead() && canUpdate() && !isUni">
    <ng-container *ngTemplateOutlet="cRUd"> </ng-container>
</div>

<div *ngIf="!canRead()">
    <ng-container *ngTemplateOutlet="crud"> </ng-container>
</div>

<ng-template #cRUdUni>
    <div class="w-full">
        <textarea
            pInputTextarea
            [(ngModel)]="resource[propertyName]"
            (input)="dirty = true"
            (blur)="updateValue()"
            [required]="isTot"
            rows="20"
            class="w-full min-w-10rem"
        ></textarea>
    </div>
</ng-template>

<ng-template #cRUd>
    <div *ngFor="let name of data; let i = index">
        <div
            class="pi pi-fw pi-minus"
            (click)="removeItem(i)"
            pTooltip="Remove"
            tooltipPosition="left"
            style="color: red; padding-bottom: 9px; cursor: pointer"
        ></div>

        <span style="padding-left: 9px">
            {{ name }}
        </span>
    </div>
    <div class="p-inputgroup">
        <textarea
            pInputTextarea
            class="min-w-10rem w-full"
            rows="20"
            [(ngModel)]="newValue"
            [placeholder]="'Add value'"
            [required]="isNewItemInputRequired()"
            [disabled]="isNewItemInputDisabled()"
        ></textarea>
        <button
            type="button"
            pButton
            pRipple
            icon="pi pi-plus"
            styleClass="p-button-success"
            (click)="addValue()"
            [disabled]="isNewItemInputDisabled()"
        ></button>
    </div>
</ng-template>

<ng-template #cRud>
    <div *ngFor="let row of data" class="wordwrap">{{ row }}</div>
</ng-template>

<ng-template #crud>
    <span><i>Hugealphanumeric is not readable</i></span>
</ng-template>
