<div *ngIf="canRead() && !canUpdate()">
    <ng-container *ngTemplateOutlet="cRud"> </ng-container>
</div>

<div *ngIf="canRead() && canUpdate() && isUni">
    <ng-container *ngTemplateOutlet="cRUdUni"> </ng-container>
</div>

<div *ngIf="canRead() && canUpdate() && !isUni">
    <ng-container *ngTemplateOutlet="cRUd"> </ng-container>
</div>

<div *ngIf="!canRead()">
    <ng-container *ngTemplateOutlet="crud"> </ng-container>
</div>

<ng-template #cRUdUni>
    <div class="w-full">
        <app-ace-editor
            [(value)]="resource[propertyName]"
            (valueChange)="dirty = true"
            (myBlur)="updateValue()"
        />
    </div>
</ng-template>

<ng-template #cRUd>
    <div class="items">
        <div *ngFor="let value of data; let i = index" class="item">
            <div
                class="pi pi-fw pi-minus"
                (click)="removeItem(i)"
                pTooltip="Remove"
                tooltipPosition="left"
                style="color: red; padding-bottom: 9px; cursor: pointer"
            ></div>

            <app-code-example [code]="value"></app-code-example>
        </div>

        <app-ace-editor [(value)]="newValue" />

        <button
            type="button"
            pButton
            pRipple
            icon="pi pi-plus"
            label="Add"
            styleClass="p-button-success"
            (click)="addValue()"
            [disabled]="isNewItemInputDisabled()"
        ></button>
    </div>
</ng-template>

<ng-template #cRud>
    <app-code-example *ngFor="let row of data" [code]="row"></app-code-example>
</ng-template>

<ng-template #crud>
    <span><i>RDF is not readable</i></span>
</ng-template>
