<!--
We need an array function here to shallow clone the array every time, otherwise prime-table
fails to detect changes to the array, like new rows. Currently it is filterNullish(data),
but can also be done with data.slice()
 -->
<ng-container *ngIf="!hideBecauseEmpty()">
    <div class="box-title" *ngIf="title">{{ title }}</div>
    <!-- The dense stand (DesignChoices OK-26): small rows of one line, in a table that scrolls
         under its own header. The roomy stand is the table as it always was. -->
    <p-table
        [value]="filterNullish(shownRows ?? data)"
        [styleClass]="dense ? 'p-datatable-sm box-table--dense' : ''"
        [scrollable]="dense"
        [scrollHeight]="dense ? 'calc(100vh - 12rem)' : ''"
        #primengTable
    >
        <ng-template pTemplate="header">
            <!-- The `noHeader` annotation suppresses the column-header row. -->
            <tr *ngIf="!noHeader">
                <ng-container
                    *ngTemplateOutlet="
                        headers || defaultHeaderTemplate;
                        context: { $implicit: data }
                    "
                ></ng-container>
                <th *ngIf="showNavMenu"></th>
                <th class="box-table__controls">
                    <button
                        type="button"
                        class="box-table__density"
                        (click)="toggleDense()"
                        [attr.aria-pressed]="dense"
                        [attr.aria-label]="dense ? 'Show roomy rows' : 'Show compact rows'"
                        [pTooltip]="dense ? 'Roomy rows' : 'Compact rows'"
                        tooltipPosition="left"
                    >
                        <i class="pi" [class.pi-bars]="!dense" [class.pi-align-justify]="dense"></i>
                    </button>
                    <span
                        *ngIf="canCreate()"
                        class="pi pi-fw pi-plus"
                        pTooltip="Add"
                        tooltipPosition="left"
                        style="color: green; cursor: pointer"
                        (click)="createItem()"
                    ></span>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
            <tr
                style="vertical-align: top"
                [class.box-table__row--open]="isOpened(data)"
                [attr.tabindex]="dense ? 0 : null"
                [attr.aria-expanded]="dense ? isOpened(data) : null"
                (click)="toggleRow(data, $event)"
                (keydown)="toggleRow(data, $event)"
            >
                <ng-container
                    *ngTemplateOutlet="rows || defaultRowTemplate; context: { $implicit: data }"
                ></ng-container>
                <!-- The `showNavMenu` annotation adds a navigation menu per record. -->
                <td *ngIf="showNavMenu">
                    <app-ifcs-dropdown size="small" [resource]="data"></app-ifcs-dropdown>
                </td>
                <td>
                    <span
                        *ngIf="canUpdate()"
                        class="pi pi-fw pi-minus"
                        (click)="removeItem(data)"
                        pTooltip="Remove"
                        tooltipPosition="left"
                        style="color: red; padding-bottom: 9px; cursor: pointer"
                    ></span>
                    <span
                        *ngIf="canDelete()"
                        class="pi pi-fw pi-trash"
                        pTooltip="Delete"
                        tooltipPosition="left"
                        style="color: red; cursor: pointer"
                        (click)="deleteItem(data)"
                    ></span>
                </td>
            </tr>
        </ng-template>
    </p-table>

    <!--
    With `noHeader` the in-header add-control is suppressed, so offer a create
    affordance here instead (also reachable when the table is still empty).
    -->
    <div *ngIf="noHeader && canCreate()" class="box-table-add">
        <p-button [rounded]="true" size="small" (onClick)="createItem()">
            New {{ tgtResourceType }}
        </p-button>
    </div>

    <p-dropdown
        *ngIf="
            canUpdate() && (dropdownMenuObjects$ | async) as dropdownMenuObjects;
            else defaultDropdownMenu
        "
        [options]="dropdownMenuObjects"
        [formControl]="newItemControl"
        optionLabel="_label_"
        [filter]="true"
        filterBy="_label_"
        [showClear]="false"
        [placeholder]="placeholder"
        (onChange)="addItem()"
    >
    </p-dropdown>

    <ng-template #defaultDropdownMenu>
        <p-dropdown
            *ngIf="canUpdate()"
            [options]="[]"
            [showClear]="false"
            [placeholder]="placeholder"
        >
        </p-dropdown>
    </ng-template>
</ng-container>

<ng-template #defaultHeaderTemplate let-data>
    <th *ngFor="let header of data[0] | keyvalue">{{ header.key }}</th>
</ng-template>

<ng-template #defaultRowTemplate let-row>
    <td *ngFor="let row of row | keyvalue">{{ row.value }}</td>
</ng-template>
