<div *ngIf="canRead() && !canUpdate()">
    <ng-container *ngTemplateOutlet="cRud"> </ng-container>
</div>

<div *ngIf="canRead() && canUpdate() && isUni">
    <ng-container *ngTemplateOutlet="cRUdUni"> </ng-container>
</div>

<div *ngIf="canRead() && canUpdate() && !isUni">
    <ng-container *ngTemplateOutlet="cRUd"> </ng-container>
</div>

<div *ngIf="!canRead()">
    <ng-container *ngTemplateOutlet="crud"> </ng-container>
</div>

<ng-template #cRUdUni>
    <p-calendar
        [showClear]="!isTot"
        [dateFormat]="format"
        dataType="string"
        [(ngModel)]="resource[propertyName]"
        (onSelect)="dirty = true; updateValue()"
        (onClear)="dirty = true; updateValue()"
        (onInput)="dirty = true"
        (onBlur)="updateValue()"
    ></p-calendar>
</ng-template>

<ng-template #cRUd>
    <div *ngFor="let date of data; let i = index">
        <div
            class="pi pi-fw pi-minus"
            (click)="removeItem(i)"
            pTooltip="Remove"
            tooltipPosition="left"
            style="color: red; padding-bottom: 9px; cursor: pointer"
        ></div>

        <span style="padding-left: 9px">
            {{ date }}
        </span>
    </div>

    <div class="p-inputgroup">
        <p-calendar
            dataType="string"
            [readonlyInput]="true"
            [dateFormat]="format"
            [(ngModel)]="newValue"
            (onSelect)="addValue()"
            [required]="isNewItemInputRequired()"
            [disabled]="isNewItemInputDisabled()"
        ></p-calendar>
    </div>
</ng-template>

<ng-template #cRud>
    <div *ngFor="let date of data" class="wordwrap">{{ date }}</div>
</ng-template>

<ng-template #crud>
    <span><i>Date is not readable</i></span>
</ng-template>
