<div *ngIf="canRead() && isUni">
    <ng-container *ngTemplateOutlet="cRUdUni"> </ng-container>
</div>

<div *ngIf="canRead() && !isUni">
    <ng-container *ngTemplateOutlet="cRUd"> </ng-container>
</div>

<div *ngIf="!canRead()">
    <ng-container *ngTemplateOutlet="crud"> </ng-container>
</div>

<ng-template #cRUdUni>
    <p-inputSwitch
        [(ngModel)]="resource[propertyName]"
        [disabled]="!canUpdate()"
        (onChange)="updateValue()"
    ></p-inputSwitch>
</ng-template>

<ng-template #cRUd>
    <p>Non-uni boolean not implemented</p>
</ng-template>

<ng-template #crud>
    <span><i>Boolean is not readable</i></span>
</ng-template>
