$if(verbose)$<!-- Box-GRID.html "$label$" : $expAdl$ :: $source$ * $target$ $if(exprIsUni)$[UNI]$endif$$if(exprIsTot)$[TOT]$endif$  ($if(crudC)$C$else$c$endif$$if(crudR)$R$else$r$endif$$if(crudU)$U$else$u$endif$$if(crudD)$D$else$d$endif$, $if(!isRoot)$non-$endif$root box) -->
$endif$$if(crudR)$<table>
    <tr ng-repeat="resource in requireArray(resource['$name$'])">$subObjects:{subObj|
        $if(verbose)$<!-- $subObj.subObjLabel$ -->
        $endif$<td>
            $subObj.subObjContents$
        </td>}$
    </tr>
</table>
</div>$else$<span><i>not readable</i></span>$endif$